/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
#mapbox,
body,
html {
  height: 100%;
}

/* map legend css */
.legend {
  line-height: 18px;
  color: #555;
  padding: 6px 8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Go to top button css*/
#myBtn {
  display: none;
  float: left;
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: #555;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 10000 !important;
}

#myBtn:hover {
  background-color: #555;
  color: white;
}
